{% extends 'index.html' %}
{% block header %}<title>Manage Authors</title>{% endblock %}

{% block content %}
<!-- ADD  FORM -->
{% if form %}
<form action="{{ url_for('authors.update_author_to_db', author_id=author_id) }}" method="post">
    {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            {% if field.widget.input_type != 'submit' %}
                {{ field.label }}
            {% endif %}
                {{ field }}
        {% endfor %}
</form>
{% endif %}
<!-- END ADD  -->
{% endblock %}