{% extends 'index.html' %}
{% block header %}<title>Manage Inventory</title>{% endblock %}
{% block content %}
<p>Przypisz czytelnika do : {{ item.book.title }}</p>
{% if form %}
<form action="{{ url_for('inventory.assign_reader_to_item', item_id=item.id) }}" method="post">
    {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            {% if field.widget.input_type != 'submit' %}
                {{ field.label }}
            {% endif %}
                {{ field }}
        {% endfor %}
</form>
{% endif %}
{% endblock %}